body{
    background-color: #FFC0CB
}

h1{
 color: #DB7093; 
 po
}

p{
    color: #DB7093
}

ol{
    color: #DB7093
}

hr{
    border: 3px solid #DB7093
}
a{
    color: #DB7093
}

img{
    border-radius: 25%;
   
}